version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    allow:
      - dependency-type: direct

  - package-ecosystem: cargo
    directory: /rustsec_comparison
    schedule:
      interval: weekly
    allow:
      - dependency-type: direct
